<template>
  <vs-card class="px-2 py-3">
    <div slot="header" class="mb-2">
      <h2 class="mb-1">
        Iniciar Sesión
      </h2>
      <p class="small-font">
        Bienvenido de nuevo, por favor inicia sesión.
      </p>
    </div>
    <div class="pb-3">
      <form ref="form">
        <vs-row vs-w="12">
          <vs-col
            vs-type="flex"
            vs-justify="center"
            vs-align="center"
            vs-w="12"
          >
            <vs-input
              v-model="user.username"
              size="large"
              type="text"
              label-placeholder="Username"
              autocomplete="username"
            />
          </vs-col>
          <vs-col
            vs-type="flex"
            vs-justify="center"
            vs-align="center"
            vs-w="12"
          >
            <vs-input
              v-model="user.password"
              class="mt-4"
              size="large"
              label-placeholder="Contraseña"
              type="password"
              autocomplete="current-password"
              :danger="passwordError"
              :danger-text="passwordErrorMsg"
              @keyup.enter="_login"
            />
          </vs-col>
          <vs-col vs-type="flex" vs-align="center" vs-w="12">
            <vs-button
              class="btn btn-block mt-3"
              color="primary"
              size="large"
              type="filled"
              @click="_login"
            >
              Iniciar Sesión
            </vs-button>
          </vs-col>
        </vs-row>
      </form>
    </div>
  </vs-card>
</template>

<script>
/* eslint-disable no-unused-vars */

import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'
import jwtDecode from 'jwt-decode'
import utils from '@/utils/utils'
import { roles, getUrlVars } from '@/utils/utils'

export default {
  name: 'LoginForm',
  data: function () {
    return {
      user: {
        username: '',
        password: '',
      },
      passwordError: false,
      passwordErrorMsg: null,
    }
  },
  computed: {
    ...mapState('auth', {
      error: 'error',
      errorMessages: 'errorMessages',
    }),
    ...mapGetters('auth', ['isLogged']),
  },
  created() {
    if (this.isLogged) {
      this.$router
        .push({
          name: 'clientesList',
        })
        .catch(() => {})
    }
  },
  methods: {
    ...mapActions('auth', {
      getToken: 'getToken',
      userActivation: 'userActivation',
    }),
    ...mapMutations('auth', {
      setUser: 'setUser',
    }),
    ...mapMutations('consultingroom', {
      setConsultingRoom: 'setConsultingRoom',
      setSocialNetworks: 'setSocialNetworks',
    }),
    ...mapActions('consultingroom', {
      getSocialNetworks: 'getSocialNetworks',
    }),
    async _login() {
      this.getToken(this.user)
        .then((res) => {
          const token = res.data.access_token
          // Prepara el token para obtenciones futuras de información
          const decoded = jwtDecode(token)
          this.$router
            .push({
              name: 'clientesList',
            })
            .catch()
        })
        .catch((error) => {
          let res = ''
          if (error.response) {
            res = utils.getErrorDetails(error.response.data.errors)
          } else {
            res = error.message
          }
          this.$vs.notify({
            title: 'Verifique sus credenciales de inicio',
            text: `${res}`,
            color: 'danger',
            position: 'top-right',
          })
        })
    },
  },
}
</script>
