<template>
  <div id="profile-container" class="container pt-3">
    <vs-row>
      Pantalla de mi perfil ;D. Si llegaste hasta aquí... shhh...
    </vs-row>
  </div>
</template>

<script>
export default {
  name: 'MyProfileView',
  data: function () {
    return {}
  },
}
</script>
