<template>
  <div id="clientes-container" class="container pt-3">
    <vs-row>
      <vs-list>
        <vs-list-header title="Lista de Clientes" color="dark"></vs-list-header>
        <template v-for="(cliente, index) in clientes">
          <vs-list-item
            :key="index"
            :title="cliente.nombre"
            :subtitle="`Grupo: ${cliente.Grupos[0]}`"
          >
            <template slot="avatar">
              <vs-avatar />
            </template>
          </vs-list-item>
        </template>
      </vs-list>
    </vs-row>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'MyProfileView',
  data: function () {
    return {}
  },
  computed: {
    ...mapState('clientes', {
      clientes: 'clientes',
    }),
  },
  created: function () {
    this.getClientesAction().then((response) => {
      this.setClientes(response.results)
    })
  },
  methods: {
    ...mapMutations('clientes', {
      setClientes: 'setClientes',
    }),
    ...mapActions('clientes', {
      getClientesAction: 'getClientesAction',
    }),
  },
}
</script>
