<template>
  <vs-sidebar
    v-model="active"
    parent="body"
    :default-index="getDefaultIndex()"
    color="primary"
    class="sidebarx"
    :click-not-close="true"
    spacer
  >
    <div slot="header" class="header-sidebar">
      <div class="header-desc">
        <vs-button
          icon="close"
          color="primary"
          type="flat"
          @click="active = false"
        />
      </div>
      <h2 class="small-font">Financiera Podemos Progresar</h2>
    </div>
    <!-- Clientes -->
    <vs-sidebar-group title="clientes" :open="true">
      <vs-sidebar-item index="1.1" icon="list" @click="goToListaDeClientes">
        Lista de Clientes
      </vs-sidebar-item>
    </vs-sidebar-group>

    <!-- Grupos -->
    <vs-sidebar-group title="clientes" :open="true">
      <vs-sidebar-item index="2.1" icon="groups" @click="goToListaDeGrupos">
        Lista de Grupos
      </vs-sidebar-item>
    </vs-sidebar-group>

    <div slot="footer" class="footer-sidebar">
      <vs-button icon="reply" color="danger" type="flat" @click="_logout">
        Cerrar Sesión
      </vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { eventBus } from '@/plugins/event-bus'

import utils from '@/utils/utils'

export default {
  name: 'MainSideBar',
  data: function () {
    return {
      active: false,
      roles: utils.roles,
    }
  },
  computed: {
    ...mapState('auth', {
      user: 'user',
    }),
  },
  created: function () {
    eventBus.$on('showSideBar', this.showSideBar)
  },
  methods: {
    ...mapActions('auth', { logout: 'logout' }),
    showSideBar() {
      this.active = true
    },
    getDefaultIndex() {
      return '1.3'
    },
    /**
     * Redirecfciona a la vista de nuevo paciente.
     *
     */
    goToNuevoCliente() {
      this.$router
        .push({
          name: 'newPatient',
        })
        .then(() => {
          this.active = false
        })
        .catch(() => {})
    },
    /**
     * Redirecciona a la pantalla de clientes
     * @private
     */
    goToListaDeClientes() {
      this.$router
        .push({
          name: 'clientesList',
        })
        .then(() => {
          this.active = false
        })
        .catch(() => {})
    },
    /**
     * Redirecciona a la pantalla de lista de grupos de clientes
     * @private
     */
    goToListaDeGrupos() {
      this.$router
        .push({
          name: 'gruposList',
        })
        .then(() => {
          this.active = false
        })
        .catch(() => {})
    },
    _logout() {
      this.logout()
      this.$router
        .push({
          name: 'authLogin',
        })
        .then(() => {
          this.active = false
        })
        .catch(() => {})
    },
  },
}
</script>

<style scoped lang="scss">
.header-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .header-desc {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    > button {
      margin-left: 10px;
    }
  }
}

.footer-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  > button {
    border: 0px solid rgba(0, 0, 0, 0) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.07) !important;
    border-radius: 0px !important;
  }
}
</style>
