$primary: #a1ba2a;
$warning: #ff6f00;
$dark: #001712;
$bg-color: #f0f5f9;
$bg-blue-gray: #f5f7fb;

// Buttons

$btn-block-spacing-y: 0.5rem !default;

// Heights
$navbar-height: 55px;
$footer-height: 55px;

$breakpoints: (
  'small': (
    min-width: 767px,
  ),
  'medium': (
    min-width: 992px,
  ),
  'large': (
    min-width: 1100px,
  ),
  'xlarge': (
    min-width: 1500px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
