@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fed764;
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #fed764;
    box-shadow: 0 0 0 0 #fed764;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #fed764;
    box-shadow: 0 0 0 0 #fed764;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
  }
}
@-o-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #fed764;
    box-shadow: 0 0 0 0 #fed764;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #fed764;
    box-shadow: 0 0 0 0 #fed764;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 20px rgba(254, 215, 100, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
    box-shadow: 0 0 0 0 rgba(254, 215, 100, 0);
  }
}
.vue-reaction {
  position: relative;
  display: flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 58px;
  align-items: center;
  &:hover {
    .effect {
      height: 44px;
      width: 44px;
      right: 5px;
    }
  }
  .effect {
    height: 36px;
    width: 36px;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: table-footer-group;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    right: 12px;
  }
  .animated {
    animation: pulse 2s;
  }
  img {
    height: 45px;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    z-index: 1;
  }
  .h-60 {
    height: 60px;
  }
}
