<template>
  <div id="detalles-grupo-container" class="container pt-3">
    <vs-row>
      <vs-col class="mb-3">
        <h4>Cuentas del grupo</h4>
      </vs-col>
      <vs-col>
        <p>Seleccione una cuenta para mostrar su calendario de pagos.</p>
        <vue-good-table
          :columns="columns"
          :rows="cuentas"
          @on-row-click="showCalendarioPagos"
        />
      </vs-col>
    </vs-row>
    <vs-row v-if="isCalendarioVisible">
      <vs-col class="mt-5 mb-3">
        <h4>Calendario de pagos</h4>
      </vs-col>
      <vs-col>
        <vue-good-table :columns="columns" :rows="cuentas" />
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  name: 'GroupDetailView',
  data() {
    return {
      isCalendarioVisible: false,
      columns: [
        {
          label: 'Id',
          field: 'id',
        },
        {
          label: 'Monto',
          field: 'monto',
          type: 'number',
        },
        {
          label: 'Grupo',
          field: 'grupo',
        },
        {
          label: 'Estatus',
          field: 'estatus',
        },
      ],
    }
  },
  computed: {
    ...mapState('grupos', {
      cuentas: 'cuentas',
    }),
  },
  created() {
    this.getCuentasAction(this.$route.params['id']).then((res) => {
      this.setCuentas(res.results)
    })
  },
  methods: {
    ...mapActions('grupos', {
      getCuentasAction: 'getCuentasAction',
    }),
    ...mapMutations('grupos', {
      setCuentas: 'setCuentas',
    }),
    showCalendarioPagos(params) {
      this.isCalendarioVisible = false
      console.log(params)
      this.isCalendarioVisible = true
    },
  },
}
</script>

<style scoped></style>
