<template>
  <div id="grupos-container" class="container pt-3">
    <vs-row>
      <p>
        Haga clic en un grupo o miembro de grupo, para ir a los detalles del
        grupo.
      </p>
      <vs-list>
        <template v-for="grupo in grupos">
          <div
            :key="grupo.id"
            class="group-item-container"
            @click="goToDetallesDelGrupo(grupo.id)"
          >
            <vs-list-header
              icon="supervisor_account"
              :title="`Grupo ${grupo.nombre}`"
              color="primary"
            ></vs-list-header>
            <vs-list-item
              v-for="miembro in grupo.clientes"
              :key="miembro.id"
              icon="person"
              :title="miembro.nombre"
              :subtitle="miembro.id"
              @click="goToDetallesDelGrupo(grupo.id)"
            ></vs-list-item>
          </div>
        </template>
      </vs-list>
    </vs-row>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'GruposView',
  data: function () {
    return {}
  },
  computed: {
    ...mapState('grupos', {
      grupos: 'grupos',
    }),
  },
  created: function () {
    this.getGruposAction().then((response) => {
      this.setGrupos(response.results)
    })
  },
  methods: {
    ...mapMutations('grupos', {
      setGrupos: 'setGrupos',
    }),
    ...mapActions('grupos', {
      getGruposAction: 'getGruposAction',
    }),
    goToDetallesDelGrupo(id) {
      console.log(id)
      this.$router
        .push({
          name: 'GroupDetailView',
          params: { id },
        })
        .then(() => {
          this.active = false
        })
        .catch(() => {})
    },
  },
}
</script>

<style lang="scss">
.group-item-container {
  cursor: pointer;
}
.group-item-container .vs-list--item:hover {
  background: rgba(0, 0, 0, 0.05);
}
</style>
